* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

@import url('https://fonts.google.com/share?selection.family=Manrope:wght@200..800');

a {
    text-decoration: none;
    color: black;
}

button {
    font-family: "Manrope", serif;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: "Manrope", serif;
    position: relative;
    /* height: 200vh; */
}

/* Хедер */
header {
    position: sticky;
    top: 0;
    width: 100%;
    transition: background-color 0.4s, color 0.4s;
    background-color: transparent;
    color: rgb(231, 231, 231);
    z-index: 1000;
}

.header_wrapper {
    display: flex;
    /* align-items: center; */
    padding: 24px;
    margin: 0 auto;
    justify-content: space-between;
    width: 85%;
}

header:hover * {
    color: black;
}

header:hover {
    background-color: white;
    color: black;
}

header:hover img {
    filter: invert(1);
}

header.scrolled {
    background-color: white;
    color: black;
}

header.scrolled * {
    color: black;
}

header.scrolled img {
    filter: invert(1);
}

ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header ul {
    display: flex;
    gap: 24px;
    list-style: none;
    align-items: center;
}

ul a {
    color: white;
    position: relative;
    padding-bottom: 5px;
}

ul a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

ul a:hover::after {
    width: 100%;
}

header img {
    max-width: 125px;
    height: 30px;
}

.user_menu img {
    max-width: 25px;
    max-height: 25px;
}

.user_menu {
    display: flex;
    gap: 24px;
    align-items: center;
    color: white;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown {
    position: relative;
}

.dropdown_catalog {
    cursor: pointer;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 190%;
    left: 0;
    width: 110vw;
    background-color: white;
    color: black;
    padding: 20px 0;
    z-index: 0;
    margin-left: -150px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    opacity: 1;
    visibility: visible;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    /* max-width: 1200px; */
    margin: 0 auto;
    margin-left: 140px;
}

.dropdown-content ul li {
    list-style: none;
}

.dropdown-content ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* width: 100vw; */
    background-color: #fff;
    z-index: 100;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Меню отображается как колонка */
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    /* Устанавливаем вертикальное направление */
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-start;
}

.mobile-menu ul li {
    padding: 10px 0;
}

.mobile-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* Стили для гамбургера */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    margin-left: -100%;
    margin-top: 15px;
}

.menu-toggle span {
    background-color: #fff;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s;
}

.menu-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* .badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(50%, -50%);
} */

/* Показываем мобильное меню и гамбургер при ширине экрана меньше 768px */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .user_menu {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .mobile-menu.open {
        display: block;
    }
}

/* Обычное десктопное меню скрыто на мобильных устройствах */
@media (min-width: 769px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    .mobile-menu {

        display: none;
    }
}

.bgvideo {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
    max-height: 100%;
    width: auto;
    z-index: -9999;
    max-width: 1600px;
    object-fit: cover;
    margin-bottom: 20px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.logo img {
    width: 150%;
    height: 150%;
}

.category {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.content {
    width: 100%;
}

/* Блок категории с круглыми изображениями */
.category-item {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
    /* Скрываем выходящие за границы части изображения */
    text-decoration: none;
    background-color: #f0f0f0;
    /* Задаем фон для круга, если изображения нет */
}

/* Изображение внутри круга */
.category-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    /* Чуть больше, чтобы при уменьшении не появлялись пустые края */
    height: 110%;
    transform: translate(-50%, -50%) scale(1);
    /* Центрируем изображение и устанавливаем базовый масштаб */
    object-fit: cover;
    /* Обрезаем изображение, чтобы оно покрывало весь круг */
    transition: transform 0.3s ease;
    /* Плавный переход для эффекта уменьшения */
}

/* Текст внутри круга */
.category-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease, color 0.3s ease;
    z-index: 1;
    /* Поверх изображения */
}

/* Эффект при наведении */
.category-item:hover img {
    transform: translate(-50%, -50%) scale(0.92);
    filter: brightness(0.7) contrast(1.2);
}

.category-item:hover span {
    opacity: 1;
    /* Делаем текст видимым при наведении */
    color: white;
}


/* Адаптивные стили */

@media (max-width: 1024px) {
    .header_wrapper {
        width: 90%;
        /* Увеличиваем ширину на планшетах */
    }

    .category-item {
        width: 250px;
        /* Уменьшаем ширину элементов категории */
        height: 250px;
        /* Уменьшаем высоту элементов категории */
    }
}

@media (max-width: 768px) {
    .header_wrapper {
        flex-direction: column;
        /* Хедер становится вертикальным на мобильных устройствах */
        align-items: center;
        padding: 16px;
    }

    .header_wrapper nav ul {
        flex-direction: column;
        /* Меню становится вертикальным */
        gap: 10px;
    }

    .category-item {
        width: 200px;
        /* Еще меньше размер элементов категории */
        height: 200px;
    }
}

@media (max-width: 480px) {
    .header_wrapper {
        padding: 12px;
    }

    .category-item {
        width: 150px;
        /* Минимальный размер элементов категории на маленьких экранах */
        height: 150px;
    }

    .category-item span {
        font-size: 14px;
        /* Уменьшаем размер текста */
    }
}

.container {
    width: 85%;
    margin: 30px auto;
}

.filter {
    display: flex;
    justify-content: end;
}

.filter p {
    font-size: 16px;
}

.filter span {
    color: rgb(56, 56, 56);
    font-size: 24px;
}

.filter_sort {
    display: flex;
    /* width: 15%; */
    justify-content: space-between;
}

.filter img {
    filter: invert(1);
    max-width: 25px;
}

.sort {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sort {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

/* Стили для customm-select */
.customm-select {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    width: 150px;
    transition: border-color 0.3s ease;
}

/* Ховер эффект */
.customm-select:hover {
    border-color: #888;
}

/* Когда select находится в фокусе */
.customm-select:focus {
    outline: none;
    border-color: #555;
}

/* Стили для стрелки внутри select */
.customm-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('/img/arrow_down.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

/* Контейнер для всех карточек товаров */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    margin-top: 50px;
}

/* Стили для карточки товара */
.card {
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
    /* Обрезаем изображение, выходящее за пределы карточки */
    position: relative;
    background-color: white;
    /* Добавьте, если нужно задать цвет фона карточки */
    transition: transform 0.3s ease;
    /* Плавное изменение размеров карточки */
}

/* Стили для изображения внутри карточки */
.card img {
    margin-bottom: 15px;
    width: 100%;
    transition: transform 0.3s ease;
    /* Плавное увеличение изображения */
}

/* Увеличение изображения при наведении */
.card:hover img {
    transform: scale(1.1);
    /* Увеличиваем изображение */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card p {
    font-weight: 400;
}

.product-page {
    display: flex;
    max-width: 1320px;
    width: 100%;
    gap: 100px;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px auto;
}

/* Стили для изображений продукта */
.product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-image img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
}

.thumbnail-images img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid transparent;
}

.thumbnail-images img.active {
    border: 1px solid black;
}

/* Стили для информации о продукте */
.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 24px;
    color: #000;
    white-space: nowrap;
}

.product-description {

    margin-top: 20px;
    margin-bottom: 20px;
}

.product-description p {
    font-weight: 400;
}

.add-to-cart {
    padding: 15px;
    background-color: #828181;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: black;
    color: white
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .product-page {
        flex-direction: column;
        align-items: center;
    }
}

.product-name-title {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.product-name-title h1 {
    font-size: 24px;
    font-weight: 400;
}

/* Стили для обертки select */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

/* Скрыть стандартный select */
.custom-select {
    display: none;
}

/* Стили для кастомного селекта */
.custom-select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

/* Стили для выпадающего списка */
.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-height: 0;
    /* Изначально высота равна 0 */
    opacity: 1;
    /* Прозрачность 1 (сделано для соответствия другим элементам) */
    overflow: hidden;
    /* Скрытие переполнения */
    transition: max-height 0.3s ease;
    /* Плавное изменение высоты */
}

/* Показать выпадающий список */
.custom-options.open {
    max-height: 200px;
    /* Максимальная высота */
}

.custom-options .custom-option {
    padding: 10px;
    cursor: pointer;
}

.custom-option.selected {
    background-color: #ddd;
}

/* Стили для кнопки */
.add-to-cart {
    /* margin-top: 20px; */
    /* Отступ сверху, чтобы не перекрывать выпадающий список */
    position: relative;
    z-index: 1;
    width: 100%;
}

.product-buttons {
    /* position: relative; */
    display: flex;
    gap: 20px;
    justify-content: space-between;
}



.heart-container {
    position: relative;
    max-width: 42px;
    max-height: 42px;
    /* overflow: hidden; */
}

.heart {
    position: static;
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}

.heart-black {
    opacity: 1;
}

.heart-red {
    position: absolute;
    opacity: 0;
}

.heart-container.active .heart-black {
    opacity: 0;
}

.heart-container.active .heart-red {
    opacity: 1;
}

.accordion {
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-header {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: -45px; */
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    /* Горизонтальный padding */
    font-size: 14px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    /* Плавное изменение высоты и padding */
}

.accordion-header::after {
    content: '\002B';
    font-size: 20px;
}

.accordion-header.active::after {
    content: '\2212';
}

p {
    font-weight: 200;
}

.site-footer {
    font-family: "Manrope", serif;
    background-color: #fff;
    color: #000;
    padding: 20px 0px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: 50px auto;
    gap: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 20px 0px;
}

/* Стили для колонок футера */
.footer-column {
    flex: 1 1 200px;
}

.footer-column p {
    font-family: "Manrope", serif;
    font-size: 12px;
}

.footer-column h4 {
    font-family: "Manrope", serif;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
    /* Верхний регистр для заголовков */
}

.footer-column ul {
    list-style: none;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #bbb;
    /* Цвет текста при наведении */
}

/* Стили для социальных иконок */
.footer-socials a {
    margin-right: 15px;
}

.footer-socials img {
    width: 20px;
    height: 20px;
    filter: invert(1);
    /* Инверсия для белых иконок */
    transition: filter 0.3s ease;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    line-height: 50px;
    margin: 0 auto;
    gap: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.footer-bottom a {
    font-size: 14px;
}

.footer-bottom2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    line-height: 50px;
    margin: 0 auto;
    gap: 20px;
}

.socials img {
    margin-top: 10px;
    max-width: 30px;
}

.sendaway {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 20px;
}

.sendaway button {
    background-color: #fff;
    font-weight: 300;
    border: none;
    border: 1px solid gray;
    height: 7vh;
    transition: 0.3s ease;
    cursor: pointer;
}

.sendaway button:hover {
    background-color: #000000;
    color: white;
    transition: 0.3s ease;
}

.sendaway input {
    padding: 2px;
    border: none;
    border-bottom: 1px solid gray;
    height: 5vh;
    font-weight: 300;
}

@media (max-width: 768px) {
    .footer-container {
        padding-left: 10px;
        gap: 20px;
        display: flex;
        justify-content: space-between;
    }

    .footer-bottom {
        padding-left: 10px;
    }

    .footer-bottom2 {
        padding: 10px;
    }

    .footer-column p {
        padding-top: 10px;
        width: 60%;
    }
}

.shops img {
    max-width: 40%;
}

.shopsh1 {
    padding: 20px 0;
    font-size: 32px;
    font-weight: normal;
}

.shops {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shops_cart {
    display: flex;
    gap: 20px;
}

.shops_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 68%;
    margin: 0 auto;
}

.about_us {
    display: block;
    width: 80%;
    margin: 0 auto;



    text-align: center;
}

.about_us h1 {
    font-weight: 300;
    font-size: 46px;
}

.about_us h2 {
    font-size: 32px;
    font-weight: 300;
}

.pulse {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    animation: pulseAnimation 2s infinite;
    background: linear-gradient(45deg, #ff1010, #095dcc);
    background-size: 200% 200%;
    font-size: 36px;
    line-height: 16px;
}

.pulse h1 {
    /* font-size: 24px; */
    color: white;
}

.STAR {
    font-size: 24px;
    font-family: "arial", serif;
}

.Batyr {
    color: #1e90ff;
    font-family: "arial", serif;
    font-size: 36px;
    /* Основной цвет текста */
    text-shadow: 0 0 20px rgba(30, 144, 255, 1), 0 0 20px rgba(30, 144, 255, 1), 0 0 30px rgba(30, 144, 255, 0.4);
}

.MMA {
    font-size: 24px;
    /* font-family: "arial", serif; */
}

.START {
    font-size: 24px;
    /* font-family: "arial", serif; */
    color: #1e90ff;
    /* Основной цвет текста */
    text-shadow: 0 0 20px rgba(30, 144, 255, 1), 0 0 20px rgba(30, 144, 255, 1), 0 0 30px rgba(30, 144, 255, 0.4);
    /* Эффект свечения */
}

@media (max-width: 768px) {
    .pulse h1 {
        font-size: 18px;
    }
}

@keyframes pulseAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.product-buttons {
    display: flex;
    gap: 20px;
    /* Расстояние между кнопками */
}

.heart-container {
    position: relative;
}

.heart-box {
    position: relative;
    display: inline-block;
    width: 50px;
    /* Размер квадратика */
    height: 50px;
    /* Размер квадратика */
    background-color: #ffffff;
    /* Цвет фона квадратика */
    border-radius: 0;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
}

.heart {
    position: absolute;
    width: 30px;
    /* Размер сердечка */
    height: 30px;
    /* Размер сердечка */
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    /* Плавное изменение прозрачности */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-black {
    opacity: 1;
    /* Видимо по умолчанию */
}

.heart-red {
    opacity: 0;
    /* Скрыто по умолчанию */
}

.heart-box.clicked .heart-black {
    opacity: 0;
    /* Скрываем черное сердечко */
}

.heart-box.clicked .heart-red {
    opacity: 1;
    /* Показываем красное сердечко */
}

.contacts {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

.contacts h1 {
    text-align: center;
    font-size: 46px;
}

.contacts h3 {
    font-size: 24px;
}

.contacts p {
    font-size: 18px;
}

.wishlist {
    padding: 20px;
    text-align: center;
}

.wishlist h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.products-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.card {
    position: relative;
    text-align: left;
    overflow: hidden;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
}

.card img {
    max-width: 100%;
    height: auto;
}

.remove-from-wishlist {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.remove-from-wishlist img {
    width: 30px;
    height: 30px;
}

.remove-from-wishlist:hover {
    opacity: 0.8;
}

.cart {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.cart h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 20px;
    color: #fff;
    background-color: #828181;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background-color: black;
    transition: 0.3s ease;
}

.cart-summary {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-summary p {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-summary .btn {
    margin-top: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
}

.quantity {
    display: flex;
    font-size: 16px;
    width: 30px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card .price {
    font-size: 18px;
    margin: 10px 0;
}

.checkout {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-section {
    width: 70%;
    margin-bottom: 20px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    opacity: 0.7;
}

.order-summary {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.second {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.first {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}